<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Mongo-Scraper</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="./index.js"></script>
    <script src="./style.css"></script>


    </head>
    <body>

        {{{ body }}}
    </body>
    </html>