<h1>Totally real news!!</h1>
<div class = "articles">
    <p>
        {{!-- {{#if articles}} --}}
        {{#each articles}}
            <img src= "{{image}}">
            <p>{{title}}</p>
            <p>{{link}}</p>
            <p>{{summary}}</p>
            <button class="save">Save</button>
            <br>
        {{/each}}
        {{!-- {{/if}} --}}
    </p>
</div>